{% extends "forum/base.html" %}

{% block title %}
{{"account"|i18n}} - {{"title"|i18n}}
{% endblock title %}

{% block content %}
<div class="body-content">
    <h3>
    {{"account_info"|i18n}}
    </h3>
    <div class="account_info">{{"account_info_prompt"|i18n}}
	<a href="/blog_with_author?author_id={{user.id}}">{{user.nickname}}</a>
	<br>
	<br>
	<a class="linked" href="/p/blogsection/edit">Modify Your Blog</a> <br>
	<a class="linked" href="/p/user/modifynickname">Modify Your Nickname</a> <br>
	<a class="linked" href="/p/user/changepassword">Change Your Password</a> <br>
	<a class="linked" href="/p/user/my_articles">My Posted Articles</a> <br>

	<br>
	<a class="linked" href="/signout">{{"logout"|i18n}}</a>
    </div>
</div>
{% endblock content %}
