{% extends "forum/base.html" %}

{% block title %}
Search - {{"title"|i18n}}
{% endblock title %}

{% block content %}
<div class="body-content">

    <h2>感谢以下赞助商</h2>
    <br>
    <br>
    <p>
        <div> <img src="https://www.speedycloud.cn/statics/images/new_site/logo.png" alt="img"></div>
        <br>
        <div>
            <p> <a href="https://www.speedycloud.cn/"><b>迅达云</b></a> </p> 
            <br>
            <p>从2016年1月起为Rust语言中文社区免费赞助服务器一台。特此感谢！</p>
        </div> 
    </p>
    <br>
    <hr>
    <br>
    <p>
        <div>
			<img src="https://cybex.io/assets/images/logo.png" alt="img">
			<img src="https://www.longhash.com/static/frontend/img/home/longhash_logo_rgb2.svg" alt="img" style="width: 270px">
        </div>
        <br>
        <div>
            <p> <a href="https://cybex.io/zh-cn/index.html"><b>赛贝去中心化交易所</b></a>
            &amp; <a href="https://www.longhash.com/"><b>LongHash</b></a> </p>
            <br>
            <p>从2019年5月起为Rust语言中文社区免费赞助服务器一台。特此感谢！</p>
        </div> 
    </p>

</div>
{% endblock content %}
