<div class="footer">
    <div class="site-desc">
        <p class="links">
	        友情链接： <a target="_blank" href="http://ipfs.cn/">IPFS中文社区</a> 
        </p>
	    <p> ©2018~2019 Rust.cc {{"copyright"|i18n}} &nbsp;&nbsp; 
            <span class="powered">Powered by 
                <a href="https://github.com/daogangtang/rusoda">Rusoda</a> &amp;
                <a href="https://github.com/sappworks/sapper">Sapper</a>
            </span>
        </p>
    </div>
</div>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b9a6681a351077586b795305c383771b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
