{% extends "forum/base.html" %}

{% block title %}
{{"new_comment"|i18n}} - {{"title"|i18n}}
{% endblock title %}

{% block content %}

<div class="body-content">
	<h3>
		{{"new_comment"|i18n}}
	</h3>
	<p class="new-reply"> {{"new_reply_prompt"|i18n}}<br>
		<span class="article-title">《{{article.title}}》</span>
	</p>
	<form class="" action="/s/comment/new" method="post">
		<input type="hidden" name="article_id" value="{{article.id}}">
		{% if reply_comment %}
		<input type="hidden" name="reply_comment_id" value="{{reply_comment.id}}">
		{% endif %}
		<textarea name="raw_content" placeholder="{{"input_content_prompt"|i18n}}" autofocus>

{% if reply_comment %}
--
👇
{{reply_comment.nickname}}: {{reply_comment.raw_content}}
{% endif %}</textarea>
		<br>
		<input type="submit" value="{{"biu"|i18n}}"></input>
	</form>
</div>

{% endblock content %}
