{% extends "forum/base.html" %}

{% block title %}
{{ section.title }} - {{"title"|i18n}}
{% endblock title %}

{% block content %}
<div class="body-content">
    <div class="detail-head">
        <div>
            <h3>{{ section.title }}</h3>
            {% if is_myown_blog %}
	    <a class="right new-article" href="/p/blogarticle/create">{{"write_blog"|i18n}}</a>
            {% else %}
	    <a class="right new-article" href="/p/article/create?section_id={{section.id}}">{{"post_article"|i18n}}</a>
            {% endif %}
        </div>
        <p>
            <small>{{ section.description }}</small>
        </p>
    </div>

    <div class="section-body article-list">
        {% if articles | length == 0 %}
	    <p class="">{{"no_content"|i18n}}</p>
        {% else %}
        <ul>
            {% for article_with_stats in articles %}
            <li>
                <span class="left">
                    <a href="/article?id={{ article_with_stats.article.id }}" class="title left">{{ article_with_stats.article.title }}</a>
                    <span class="show-count left">({{ article_with_stats.viewtimes }},{{ article_with_stats.comment_count }})</span>
                    <div style="clear:both;"></div>
                </span>
                <span class="right info">
                    <span class="tags">{{ article_with_stats.article.tags }}</span>
                    <span class="author">{{ article_with_stats.article.author_name }}</span> 
                    <span class="timestamp">{{ article_with_stats.article.created_time | zone8 }}</span>
                    {% if is_admin %}
                    <a class="delete" href="/p/article/delete?id={{article_with_stats.article.id}}">{{"delete"|i18n}}</a>
                    <a class="edit" href="/p/article/edit?id={{article_with_stats.article.id}}">{{"edit"|i18n}}</a>
                    {% endif %}
                </span>
                <div style="clear:both;"></div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="paginator right">
        {% for _ in range(end=total_page) %}
        <a href="/section?id={{section.id}}&current_page={{loop.index}}"
            {% if loop.index==current_page %} class="current_page" {% endif %}>
            {{ loop.index }}
        </a>
        {% endfor %}
	{{"totally"|i18n}} {{ total_item }} {{"articles"|i18n}}, {{ total_page }} {{"page"|i18n}}
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock content %}
